<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>MathRestfulService</display-name>
    <ejb-local-ref>
        <ejb-ref-name>MathBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ru.aparfenov.webservice.math.MathOperationsBean</local>
    </ejb-local-ref>
</web-app>