<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>SqlRestfulService</display-name>
    <!--<welcome-file-list>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>weather</welcome-file>
    </welcome-file-list>-->
    <servlet>
        <!-- class name -->
        <servlet-name>RestSqlService</servlet-name>
        <!-- package-->
        <servlet-class>ru.aparfenov.webservice.rest.RestSqlService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestSqlService</servlet-name>
        <!-- address -->
        <url-pattern>/rest/sql</url-pattern>
    </servlet-mapping>
    <ejb-local-ref>
        <ejb-ref-name>DbDao</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ru.aparfenov.webservice.model.DbDao</local>
    </ejb-local-ref>
</web-app>